@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

body {
  background-color: rgb(255, 255, 255);
  color: black;
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}


header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #ece3f1;
  border-bottom: 2px solid #E6D4F5;
  padding: 15px 0;
}

nav a {
  color: #6c3f84;
  font-size: 16px;
  text-decoration: none;
  margin: 10px 15px;
  font-weight: 600;
  transition: color 0.3s ease-in-out;
}

nav a:hover {
  text-decoration: underline;
  color: #E63946;
}

footer {
  background-color: #753598;
  padding: 40px 20px;
  text-align: center;
  font-size: 14px;
  position: relative;
  bottom: 0;
  width: 100%;
}


button {
  background-color: #E63946;
  color: white;
  height: 50px;
  padding: 6px 12px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  font-weight: bold;
  transition: 0.3s ease-in-out;
}

button:hover {
  background-color: #C0273A;;
}

.form-container {
  max-width: 600px;
  margin: auto;
  text-align: center;
  background:white;
  padding: 25px;
  border-radius: 8px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

label {
  margin: 10px 0 5px;
  font-weight: bold;
  display: block;
}

input, select, textarea {
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 100%;
  box-sizing: border-box;
}


.error {
  color: red;
  margin-top: 10px;
}


h1, h2 {
  font-weight: 600;
  text-align: center;
}

p {
  color: rgb(66, 13, 66);
  font-weight: 600;
  text-decoration: none;
  margin-bottom: 10px;
  line-height: 1.6;
}

@media (max-width: 768px) {
  header {
    flex-direction: column;
    align-items: center;
    font-size: 18px;
    padding: 8px;
  }

  nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }

  nav a {
    margin: 0 10px;
    font-size: 14px;
  }

  footer {
    font-size: 12px;
    padding: 8px;
  }

  button {
    font-size: 14px;
    padding: 3px;
    height: 30px;
    width: 70px;
  }

  .form-container {
    max-width: 60%;
    margin: 20px auto;
    padding: 15px;
  }

  h1,
  h2 {
    font-size: 20px;
  }

  p {
    font-size: 14px;
    line-height: 1.4;
  }
}

@media (min-width: 1024px) {
  body {
    font-size: 18px;
  }

  header {
    font-size: 24px;
    padding: 20px;
    text-align: center;
  }

  nav a {
    margin: 0 20px;
    font-size: 18px;
  }

  footer {
    font-size: 16px;
    padding: 20px;
  }

  button {
    font-size: 18px;
    padding: 15px 20px;
  }

  .form-container {
    max-width: 600px;
    margin: 50px auto;
    padding: 30px;
    border: 2px solid #ddd;
    box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.2);
  }

  h1,
  h2 {
    font-size: 24px;
  }

  input,
  select,
  textarea {
    padding: 15px;
    font-size: 16px;
  }

  p {
    font-size: 18px;
    line-height: 1.8;
  }
}

